# Terraform state
*.tfstate
*.tfstate.*

# Backup files
*.backup
*.bak

# Terraform local data
.terraform/
.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Sensitive files
*.pem
*.key


/examples
/doc
.env
